<div class="col col-500">
  <div class="row justify-content-center">
    <div class="col col-500 py-4">
      <div class="p-3 bg-white shadow mb-3 create-post p-3 rounded">
        <% if @user.eql? current_user %>
          <%= render "posts/form_post", post: post %>
        <% end %>
      </div>
      <%= render "posts/posts", posts: posts %>
    </div>
  </div>
</div>
