<div class="represent">
  <span class="gapo-avatar gapo-avatar--32 mr-2">
    <% if current_user.avatar.attached? %>
      <%= link_to users_user_path(current_user),
      class: "gapo-avatar gapo-avatar--32 mr-2" do %>
        <%= image_tag current_user.avatar, class: "gapo-avatar-comment" %>
      <% end %>
    <% else %>
      <%= link_to users_user_path(current_user),
      class: "gapo-avatar gapo-avatar--32 mr-2" do %>
        <%= image_tag "man.svg", class: "gapo-avatar-comment" %>
      <% end %>
    <% end %>
  </span>
</div>
