<div class="row justify-content-center">
  <div class="col col-500 py-4">
    <div class="p-3 bg-white shadow mb-3 create-post p-3 rounded">
      <%= render "posts/form_post" %>
    </div>
    <%= render "posts/posts", posts: posts %>
  </div>
</div>
