<main class="gapo-main row">
  <div class="col col-aside hide_mobile">
    <%= render "col_left" %>
  </div>
  <div class="col center_page">
    <%= render "col_main", posts: @posts, post: @post %>
  </div>
  <div class="col col-aside hide_mobile">
    <%= render "list_friend", friends: @friends %>
  </div>
</main>
