<main class="gapo-main row">
  <div class="col col-aside hide_mobile">
  </div>
  <div class="col">
    <%= render "col_main", posts: @posts, post: @post %>
  </div>
  <div class="col col-aside hide_mobile">
  </div>
</main>
