$white: rgb(255, 255, 255);
$light_red: #ececec;
$green: #6fbe49;
$gray: #f2f2f2;
$light_green: rgb(111, 190, 73);
$gray_green: rgb(121, 191, 67);
$border: rgba(0,0,0,.2);
$shadow: rgba(0, 0, 0, 0.05);
$border_color: rgba(0, 0, 0, 0.05);
$span: rgb(26, 26, 26);
$background_page: #f2f2f2;
$box_shadow: rgba(26,26,26,.05);
$nero: #1a1a1a;
$revell: #eee;
$bg-underline: rgb(238, 238, 238);
$whisper: #e5e5e5;
$gainsboro: #dedede;
$white_smoke: #f5f5f5;
$matter_horn: #4d4d4d;
