@import 'color';

.container {
  padding-top: 8rem;
}

.sc-topics {
  position: relative;
  display: flex;
  flex-direction: column;
  width: 100%;
  pointer-events: auto;
  background-color: $white;
  background-clip: padding-box;
  border: 0 solid $border;
  border-radius: .25rem;
  outline: 0;
}

.topics-title {
  font-weight: bold;
  font-size: 18px;
  line-height: 21px;
  margin-bottom: 32px;
}

.sc-topics-item {
  width: 470px;
  max-width: 100%;
}

.topic-item {
  box-sizing: border-box;
  box-shadow: $shadow 4px 4px 16px, $shadow 0px 0px 1px;
  height: 48px;
  margin-bottom: 16px;
  float: left;
  display: flex;
  -webkit-box-align: center;
  align-items: center;
  cursor: pointer;
  margin-right: 16px;
  background: $white;
  border-width: 1px;
  border-style: solid;
  border-color: $border_color;
  border-image: initial;
  border-radius: 24px;
  padding: 0px 12px;
  span {
    color: $span;
    font-size: 16px;
    line-height: 24px;
    font-weight: bold;
  }
}

.picked-item {
  background: $light_green!important;
}

.demoWinOS {
  background-color: $background_page!important
}

.direct-upload {
  display: inline-block;
  position: relative;
  padding: 2px 4px;
  margin: 0 3px 3px 0;
  border: 1px solid $border-color;
  border-radius: 3px;
  font-size: 11px;
  line-height: 13px;
}
 
.direct-upload--pending {
  opacity: 0.6;
}
 
.direct-upload__progress {
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  opacity: 0.2;
  background: #0076ff;
  transition: width 120ms ease-out, opacity 60ms 60ms ease-in;
  transform: translate3d(0, 0, 0);
}
 
.direct-upload--complete .direct-upload__progress {
  opacity: 0.4;
}
 
.direct-upload--error {
  border-color: red;
}
 
input[type=file][data-direct-upload-url][disabled] {
  display: none;
}

.user-like-container {
  height: 600px;
  overflow: auto;
  width: 200px;
}

container {
  position: relative;
  height: 100%;
}

.ps {
  overflow: hidden!important;
  overflow-anchor: none;
  -ms-overflow-style: none;
  touch-action: auto;
  -ms-touch-action: auto;
}

.list-unstyled {
  margin-bottom: 0;
}

.list-inline, .list-unstyled {
  padding-left: 0;
  list-style: none;
}

dl, ol, ul {
  margin-top: 0;
}

.side-menu__item {
  position: relative;
  padding: .625rem 1rem;
  transition: all .2s ease-in-out;
}

.btn-sm {
  padding: .375rem .5rem;
  font-size: .875rem;
  line-height: 1;
  border-radius: .25rem;
}

.btn-light {
  color: #212529;
  background-color: #e5e5e5;
  border-color: #e5e5e5;
}

.avatar {
  width: 4rem;
  height: 4rem;
}

.avatar-comment {
  width: 2.5rem;
  height: 2.5rem;
}

.avatar-comment-form {
  width: 3.5rem;
  height: 3.5rem;
}

.preview-image {
  width: 10rem;
  height: 10rem;
}

input[topic="topic-item"] {
  display: none;
}
