import "color.scss"

.container {
  padding-top: 8rem;
}

.sc-topics {
  position: relative;
  display: flex;
  flex-direction: column;
  width: 100%;
  pointer-events: auto;
  background-color: $white;
  background-clip: padding-box;
  border: 0 solid $border;
  border-radius: .25rem;
  outline: 0;
}

.topics-title {
  font-weight: bold;
  font-size: 18px;
  line-height: 21px;
  margin-bottom: 32px;
}

.sc-topics-item {
  width: 470px;
  max-width: 100%;
}

.topic-item {
  box-sizing: border-box;
  box-shadow: $shadow 4px 4px 16px, $shadow 0px 0px 1px;
  height: 48px;
  margin-bottom: 16px;
  float: left;
  display: flex;
  -webkit-box-align: center;
  align-items: center;
  cursor: pointer;
  margin-right: 16px;
  background: $white;
  border-width: 1px;
  border-style: solid;
  border-color: $border_color;
  border-image: initial;
  border-radius: 24px;
  padding: 0px 12px;
  span {
    color: $span;
    font-size: 16px;
    line-height: 24px;
    font-weight: bold;
  }
}

.picked-item {
  background: $light_green!important;
}
