@import 'bootstrap-sprockets';
@import 'bootstrap';
@import 'font-awesome-sprockets';
@import 'font-awesome';
@import 'color';

.gapo-header {
  z-index: 99;
  padding: 0 16px;
  min-width: 0;
  background-color: $white;
  box-shadow: inset 0 -1px 0 $light_red;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  min-height: 72px;
  .align-items-center {
    align-items: center;
  }
  .d-flex {
    display: flex;
  }
}

.header_brand {
  padding-top: 25px;
  padding-bottom: 10px;
  margin-right: 16px;
}

.header_logo {
  vertical-align: middle;
  border-style: none;
}

.bulkhead {
  width: 1px; 
  height: 34px; 
  background-color: $bg-underline;
}

.header_search-box {
  width: 200px;
  padding-left: 10px;
  padding-top: 5px;
}

.header_search-form {
  position: relative;
  background-color: $white;
  transition: all .2s ease-in-out;
  .search-box_icon {
    cursor: pointer;
    z-index: 2;
    left: 10px;
  }
}

.search-box_icon {
  position: absolute;
  top: 0;
  bottom: 0;
  padding: .75rem;
  color: grey;
}

.gapo-icon {
  display: inline-block;
  font-family: "gapo-icon";
  speak: none;
  font-style: normal;
  font-weight: 400;
  font-feature-settings: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;
}

.search-input {
  position: relative;
}

.search-box__input {
  height: 40px;
  padding-left: 5rem;
  background: $gray;
  border-radius: 200px;
  transition: all .2s ease-in-out;
}

.font-size-normal {
  font-size: 1.5rem;
}

.shadow-none {
  box-shadow: none;
}

.border-0 {
  border: 1;
}

.header__nav--main {
  position: absolute;
  top: 11px;
  bottom: 0;
  left: 50%;
  transform: translateX(-50%);
  a.active div {
    border-bottom: 3px solid $green;
    width: 82px;
    img {
      display: block;
      margin: 0 auto 2px;
      vertical-align: middle;
      border-style: none;
      margin-bottom: 2px;
      padding-top: 6px;
    }
  }
  a.active span {
    color: #6fbe49;
    display: block;
    font-weight: 400;
    font-size: 13px;
    line-height: 16px;
    margin-bottom: 6px;
  }
  a {
    text-align: center;
    padding: 0 2.75rem;
    display: block;
    font-weight: 300;
    font-size: 13px;
    line-height: 16px;
    margin-bottom: 6px;
    text-decoration: none;
  }
}

.list-unstyled {
  margin-bottom: 0;
}

.ml-auto {
  margin-left: auto ;
}

.align-items-center {
  align-items: center ;
}

.d-flex {
  display: flex ;
}

.list-inline, .list-unstyled {
  padding-left: 0;
  list-style: none;
}

ul {
  margin-top: 0;
}

.header__nav--right {
  margin-right: -1rem;
  a {
    padding: 1rem 12px;
    .header__logo--requestfriend {
      height: 40px;
    }
    .header__logo--notifications {
      height: 40px;
    }
  }
}

.avatarlink {
  display: flex;
  vertical-align: middle;
  div {
    height: 40px;
    width: 40px;
    overflow: hidden;
    margin-right: 4px;
  }
  img.avatar {
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 50%;
    display: inline-block;
  }
  span {
    overflow: hidden;
    display: -webkit-box;
    height: 40px;
    max-width: 93px;
    line-height: 40px;
    margin-right: 2px;
    font-weight: 700;
  }
}
