@import 'color';

.col-596 {
  max-width: 38rem;
}

.pt-5, .py-5 {
  padding-top: 3rem;
}

.jCGMGO {
  margin-bottom: 1rem;
  box-shadow: $box_shadow 0px 1px 3px;
  background-color: $white;
  padding: 1rem;
  border-radius: 0.75rem;
}

.gqpvUm {
  display: flex;
  width: 100%;
  -webkit-box-align: center;
  align-items: center;
  -webkit-box-pack: justify;
  justify-content: space-between;
}

.iHjchW {
  font-weight: bold;
  font-size: 14px;
  line-height: 20px;
  color: $span;
}

.border-bottom-group {
  border-bottom: 2px solid $white_smoke;
}

.bzFYIc {
  display: flex;
  width: 100%;
  flex-direction: column;
}

.dBglYZ {
  display: flex;
  width: 100%;
  -webkit-box-align: center;
  align-items: center;
  -webkit-box-pack: justify;
  justify-content: space-between;
  margin: 0.5rem 0px;
}

.lgUOgA {
  display: flex;
  -webkit-box-align: center;
  align-items: center;
  -webkit-box-pack: justify;
  justify-content: space-between;
}

.gapo-avatar.gapo-avatar--64 {
  width: 4rem;
  height: 4rem;
}

.dNeNoP {
  display: block;
}

.w-100 {
  width: 100%;
}

.gapo-avatar img {
  max-width: 100%;
  max-height: 100%;
  margin: auto;
  z-index: 1;
  object-fit: cover;
  height: 100%;
  width: 100%;
}

.cObEUb {
  display: block;
}

.boCWte {
  display: block;
  font-weight: 600;
  font-size: 14px;
  line-height: 20px;
  color: $span;
  margin-bottom: 0.25rem;
}

.VRbFX {
  display: block;
  white-space: nowrap;
}

.w_100 {
  width: 100px;
}

.border-radius-8 {
  border-radius: .5rem;
}

.btn {
  display: inline-flex;
  align-items: center;
  justify-content: center;
}

.btn-primary {
  color: $blue_charcoal;
  background-color: $green;
  border-color: $green;
}

.btn {
  display: inline-block;
  font-weight: 600;
  color: $nero;
  text-align: center;
  vertical-align: middle;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  background-color: transparent;
  border: 1px solid transparent;
  padding: .5rem .75rem;
  font-size: .875rem;
  line-height: 1.6;
  border-radius: .25rem;
  transition: color .15s ease-in-out,background-color .15s ease-in-out,border-color .15s ease-in-out,box-shadow .15s ease-in-out;
}

.btn-light {
  color: $blue_charcoal;
  background-color: $whisper;
  border-color: $whisper;
}

.jEsBZm {
  display: flex;
  width: 100%;
  flex-direction: column;
  margin: 0.75rem 0px;
}

.hvPnFo {
  font-weight: bold;
  font-size: 14px;
  line-height: 20px;
  color: $span;
}

.dBglYZ {
  display: flex;
  width: 100%;
  -webkit-box-align: center;
  align-items: center;
  -webkit-box-pack: justify;
  justify-content: space-between;
  margin: 0.5rem 0px;
}

.lgUOgA {
  display: flex;
  -webkit-box-align: center;
  align-items: center;
  -webkit-box-pack: justify;
  justify-content: space-between;
}

.gapo-avatar.gapo-avatar--64 {
  width: 4rem;
}

.dNeNoP {
  display: block;
}

.boCWte {
  display: block;
  font-weight: 600;
  font-size: 14px;
  line-height: 20px;
  color: $span;
  margin-bottom: 0.25rem;
}
