<li>
  <%= link_to("#", class: "avatarlink") do %>
    <div>
      <%= image_tag("icons/request-friend.svg", class: "avatar") %>
    </div>
    <span><%= current_user.name %></span>
  <% end %>
</li>
